aside {
  background-color: var(--dark-purple);
  width: 14.2em;
  height: 55.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}

.tabs {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  border-bottom: 1px solid var(--french-mauve);

  > button {
    border: none;
    outline: none;
    padding: 0.7em 2em;
    border-radius: 10px;

    font: {
      family: questrial;
      size: 0.8em;
    };
  }
}

.deactivated {
  background-color: transparent;
  color: var(--french-mauve);
}

.activated {
  background-color: var(--independence);
  color: var(--columbia-blue);
}

.content {
  flex: 13;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  padding: 1.6em;
  text-align: center;
  color: var(--french-mauve);

  > p {
    font: {
      family: karla_medium;
      size: 0.8em;
    };
  }

  > i {
    font-size: 3.5em;
    margin-top: 0.4em;
  }
}

.label-input {
  display: flex;
  font-family: karla_medium;
  font-size: 0.8rem;
  gap: 1em;

  input[type="number"] {
    width: 4em;
    background-color: transparent;
    border: none;
    color: white;

    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }
}

.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr;

  :last-child {
    grid-column: 1/3;
  }
}