.title-bar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 2em;
  background-color: var(--black);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  -webkit-app-region: drag;
  z-index: 1;

  .no-drag {
    -webkit-app-region: no-drag;
  }

  > i {
    font-size: 1em;
    width: 3em;
    height: 100%;
    color: var(--light-grey);
    transition: background-color 0.2s ease-in-out 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    cursor: pointer;

    &:hover {
      background-color: var(--independence);
    }

    &:last-child:hover {
      background-color: var(--dogwood-rose);
    }
  }
}