aside {
  user-select: none;
  background-color: var(--dark-purple);
  width: 14.2em;
  height: 55.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.45em;
}

::-webkit-scrollbar-track {
  background-color: var(--english-violet);
}

::-webkit-scrollbar-thumb {
  background-color: var(--independence);
  border-radius: 10px;
}

.components-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;

  > div {
    width: 100%;

    > p {
      width: 100%;
      color: var(--plum-web);
      padding: 0.9em;

      font: {
        family: questrial;
        size: 1.15em;
      }
    }
  }
}

.details-bar {
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;

  > summary {
    width: 100%;
    padding: 0.5em;
    background-color: var(--english-violet);
    color: var(--columbia-blue);
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out 0s;

    &:hover {
      background-color: var(--independence);
    }

    font: {
      family: karla_medium;
      size: 1em;
    }

    > i {
      margin-right: 0.5em;
      font-size: 1em;
    }
  }
}

.flex {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 0.3em;
}

.flex > article {
  background-color: var(--english-violet);
  border-radius: 10px;
  width: 5.64em;
  height: 5.64em;
  margin: 0.6em 0em 0.6em 0.8em;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out 0s;

  &:hover {
    box-shadow: 0px 0px 10px var(--dark-liver);
  }
}

.component {
  list-style: none;
  color: var(--light-grey);
  width: 5.64rem;
  height: 5.64rem;
  background-color: var(--english-violet);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;

  font: {
    family: karla_medium;
    size: 0.65em;
  }

  > .component-title {
    background-color: var(--independence);
    width: 5.64rem;
    padding: 0.1em;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
  }
}

.default-style {
  user-select: none;
  font-family: 'Roboto', sans-serif;
  transition: filter 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s,
    background-color 0.15s ease-in-out 0s, opacity 0.2s ease-in-out 0s,
    color 0.1s ease-in-out 0s, width 0.2s ease-in-out 0s,
    height 0.2s ease-in-out 0s, border-radius 0.2s ease-in-out 0s,
    border-width 0.2s ease-in-out 0s, border-style 0.2s ease-in-out 0s,
    z-index 0.2s ease-in-out 0s, font-size 0.2s ease-in-out 0s;
}

button.default-style {
  background-color: var(--light-grey);
  color: var(--black);
  border: 1px solid transparent;
  padding: 0.4em 0.9em;
  border-radius: 2px;
  cursor: pointer;

  font: {
    family: 'Roboto', sans-serif;
    weight: 500;
    size: 1em;
    weight: 500;
  }
}

div.default-style {
  width: 20em;
  height: 5em;
  background-color: var(--light-grey);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  cursor: context-menu;
  border: 1px solid transparent;
}

hr.default-style {
  width: 6em;
  height: 0.1em;
  background-color: var(--light-grey);
  border: 1px solid transparent;
}

figure.default-style {
  width: 6em;
  height: 6em;
  cursor: context-menu;
}

img.default-style {
  width: 6em;
  height: 6em;
  user-select: none;
  cursor: context-menu;
}

details.default-style {
  width: 20rem;
  padding: 0.5em;
  background-color: var(--light-grey);
  color: var(--black);
  border-radius: 5px;

  font: {
    font-family: 'Roboto', sans-serif;
    weight: 500;
    size: 1.1em;
  }

  > p {
    color: black;

    font: {
      font-family: 'Roboto', sans-serif;
      size: 1em;
    }
  }
}

h1.default-style {
  color: var(--white);

  font: {
    font-family: 'Roboto', sans-serif;
    size: 1.7em;
  }
}

h2.default-style {
  color: var(--white);

  font: {
    font-family: 'Roboto', sans-serif;
    size: 1.35em;
  }
}

p.default-style,
span.default-style {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

code.default-style {
  color: var(--white);
  background-color: #eeeeee50;
  font-style: italic;
  padding: 0.5em;
  border-radius: 5px;
}

blockquote.default-style {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

ul.default-style,
ol.default-style {
  padding: 0.2em;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  border: 1px solid transparent;

  > li {
    border: 1px solid transparent;
  }
}

dl.default-style {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  border: 1px solid transparent;

  > dt {
    background-color: #eeeeee50;
    padding: 0.1em 0.3em;
    border-radius: 5px;
  }

  > dd {
    margin-bottom: 0.6em;
  }
}

form.default-style {
  width: 20em;
  height: 5em;
  background-color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  cursor: context-menu;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

input.default-style:not(input[type="range"], input[type="checkbox"], input[type="radio"], input[type="file"]),
textarea.default-style,
select.default-style,
option.default-style {
  width: 7em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 2px solid var(--light-grey);
  font-family: 'Roboto', sans-serif;
  resize: none;
}

label.default-style {
  color: var(--white);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

input[type="checkbox"].default-style,
input[type="radio"].default-style {
  width: 1em;
  margin-right: 1em;
  font-family: 'Roboto', sans-serif;
}

input[type="color"].default-style {
  width: 7em;
  height: 3em;
  border-radius: 5px;
  border: 2px solid var(--light-grey);
  font-family: 'Roboto', sans-serif;
  resize: none;
}

input[type="range"].default-style {
  -webkit-appearance: none;
  appearance: none;
  width: 85px;
  height: 7px;
  background-color: var(--light-grey);
  opacity: 0.9;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--french-mauve);
  cursor: pointer;
  border-radius: 50%;
}

.hover:hover {
  filter: brightness(90%) contrast(120%);
}

.active:active {
  background-color: var(--pewter-blue);
}

.focus:focus {
  border-color: var(--pewter-blue);
}

a.default-style {
  color: var(--columbia-blue);
  background-color: #a9c6d350;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  text-decoration: none;
}
