<aside spellcheck="false">
  <div class="components-bar">
    <div>
      <p>Components</p>
    </div>

    <div class="details-bar">
      <!--Layout dropdown-->
      <details class="details" open #layout_dropdown (toggle)="toggleDetails()">
        <summary>
          <i [ngClass]="isOpenLayout ? 'ph-caret-up-thin' : 'ph-caret-down-thin'"></i>
          <span>Layout</span>
        </summary>
        <ul class="flex" cdkDropList cdkDropListSortingDisabled>
          <article>
            <div cdkDrag>
              <li class="component">
                <div class="default-style"></div>
                <span class="component-title">Container</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <div *cdkDragPreview class="default-style"></div>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <figure class="default-style">
                  <img src="../../../assets/images/image.png" alt="Image Component" class="default-style">
                </figure>
                <span class="component-title">Image</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <figure class="default-style" *cdkDragPreview>
                <img src="../../../assets/images/image.png" alt="Image Component" class="default-style">
              </figure>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <details class="default-style">
                  <summary>
                    <span>A title</span>
                  </summary>
                  <p>Some text here</p>
                </details>
                <span class="component-title">Toggle list</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <details class="default-style" *cdkDragPreview>
                <summary><span>A title</span></summary>
                <p>Some text here</p>
              </details>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <hr class="default-style">
                <span class="component-title">Divider</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <hr *cdkDragPreview class="default-style">
            </div>
          </article>
        </ul>
      </details>

      <!--Text dropdown-->
      <details class="details" open #text_dropdown (toggle)="toggleDetails()">
        <summary>
          <i [ngClass]="isOpenText ? 'ph-caret-up-thin' : 'ph-caret-down-thin'"></i>
          <span>Text</span>
        </summary>
        <ul class="flex" cdkDropList cdkDropListSortingDisabled>
          <article>
            <div cdkDrag>
              <li class="component">
                <p class="default-style">A paragraph</p>
                <span class="component-title">Paragraph</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <p class="default-style" *cdkDragPreview>A paragraph</p>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <h1 class="default-style">A big title</h1>
                <span class="component-title">Title</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <h1 class="default-style" *cdkDragPreview>A big title</h1>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <h2 class="default-style">A subtitle</h2>
                <span class="component-title">Subtitle</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <h2 class="default-style" *cdkDragPreview>A subtitle</h2>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <span class="default-style">A line text</span>
                <span class="component-title">Line text</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <span *cdkDragPreview class="default-style">A line text</span>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <code class="default-style">A line of code</code>
                <span class="component-title">Code</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <code class="default-style" *cdkDragPreview>A line of code</code>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <blockquote class="default-style">
                  <p>A quote</p>
                  <cite>An author</cite>
                </blockquote>
                <span class="component-title">Quote</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <blockquote class="default-style" *cdkDragPreview>
                <p>A quote</p>
                <cite>An author</cite>
              </blockquote>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <ul class="default-style">
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                </ul>
                <span class="component-title">Bulleted list</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <ul *cdkDragPreview class="default-style">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <ol class="default-style">
                  <li>Item 1</li>
                  <li>Item 2</li>
                  <li>Item 3</li>
                </ol>
                <span class="component-title">Numbered list</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <ol class="default-style" *cdkDragPreview>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ol>
            </div>
          </article>
        </ul>
      </details>

      <!--Forms dropdown-->
      <details class="details" open #forms_dropdown (toggle)="toggleDetails()">
        <summary>
          <i [ngClass]="isOpenForms ? 'ph-caret-up-thin' : 'ph-caret-down-thin'"></i>
          <span>Forms</span>
        </summary>
        <ul class="flex" cdkDropList cdkDropListSortingDisabled>
          <article>
            <div cdkDrag>
              <li class="component">
                <form class="default-style"></form>
                <span class="component-title">Form container</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <form *cdkDragPreview class="default-style"></form>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="text" class="default-style" placeholder="Text">
                <span class="component-title">Text input</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input type="text" class="default-style" placeholder="Text" *cdkDragPreview>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="password" class="default-style" placeholder="Password">
                <span class="component-title">Password input</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input type="password" class="default-style" placeholder="Password" *cdkDragPreview>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="email" class="default-style" placeholder="Email">
                <span class="component-title">Email input</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input type="email" class="default-style" placeholder="Email" *cdkDragPreview>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="tel" class="default-style" placeholder="Phone">
                <span class="component-title">Phone input</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input type="tel" class="default-style" placeholder="Phone" *cdkDragPreview>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <label class="default-style">An input label</label>
                <span class="component-title">Label</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <label *cdkDragPreview class="default-style">A input label</label>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="number" class="default-style" value="1">
                <span class="component-title">Number stepper</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input *cdkDragPreview type="number" class="default-style">
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <label for="checkbox" class="default-style">
                  <input type="checkbox" class="default-style">
                  <span>A checkbox</span>
                </label>
                <span class="component-title">Check list</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <label for="checkbox" class="default-style" *cdkDragPreview>
                <input type="checkbox" class="default-style">
                <span>A checkbox</span>
              </label>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <label for="" class="default-style">
                  <input type="radio" name="radio" id="radio" class="default-style">
                  <span>A radio</span>
                </label>
                <span class="component-title">Radio list</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <label for="" class="default-style" *cdkDragPreview>
                <input type="radio" name="radio" id="radio" class="default-style">
                <span>A radio</span>
              </label>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="date" class="default-style">
                <span class="component-title">Date picker</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input *cdkDragPreview type="date" class="default-style">
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <textarea class="default-style" name="textarea" id="textarea" placeholder="A textarea"></textarea>
                <span class="component-title">Textarea</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <textarea *cdkDragPreview class="default-style" name="textarea" id="textarea"
                placeholder="A textarea"></textarea>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="file">
                <span class="component-title">File picker</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input type="file" *cdkDragPreview>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <select name="items" id="items" class="default-style">
                  <option>Item 1</option>
                  <option>Item 2</option>
                  <option>Item 3</option>
                  <option>Item 4</option>
                </select>
                <span class="component-title">Select</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <select class="default-style" name="items" id="items" *cdkDragPreview>
                <option>Item 1</option>
                <option>Item 2</option>
                <option>Item 3</option>
                <option>Item 4</option>
              </select>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <button class="default-style">Button</button>
                <span class="component-title">Button</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <button *cdkDragPreview class="default-style">Button</button>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="range" class="default-style">
                <span class="component-title">Range</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input type="range" class="default-style" *cdkDragPreview>
            </div>
          </article>

          <article>
            <div cdkDrag>
              <li class="component">
                <input type="color" class="default-style">
                <span class="component-title">Color picker</span>
              </li>
              <div *cdkDragPlaceholder></div>
              <input type="color" class="default-style" *cdkDragPreview>
            </div>
          </article>
        </ul>
      </details>
    </div>
  </div>
</aside>