<header>
  <!--Toolbar-->
  <nav class="header-navbar">
    <div class="options">
      <article #projectButton (click)="toggleProjectMenu()">
        <i class="ph-squares-four-thin"></i>
        <i [ngClass]="isProjectMenuOpen ? 'ph-caret-up-thin arrow-down' : 'ph-caret-down-thin arrow-down'"></i>
      </article>
      <!-- <article #moveButton (click)="toggleMoveMenu()">
        <i class="ph-cursor-thin"></i>
        <i [ngClass]="isMoveMenuOpen ? 'ph-caret-up-thin arrow-down' : 'ph-caret-down-thin arrow-down'"></i>
      </article> -->

      <hr>

      <article>
        <i class="ph-magnifying-glass-plus-thin"></i>
      </article>
      <article>
        <i class="ph-magnifying-glass-minus-thin"></i>
      </article>
    </div>

    <div class="title">
      <h1 contenteditable="true" spellcheck="false">Page title</h1>
    </div>

    <div class="generate-btn">
      <button type="button" (click)="generatePageFiles()">Generate</button>
    </div>
  </nav>
</header>

<!--Project Menu-->
<section #projectMenu *ngIf="isProjectMenuOpen"
  [ngClass]="isElectron ? 'project-menu project-menu-location' : 'project-menu project-menu-location-no-titlebar'">
  <article>
    <span>New project...</span>
    <span>Ctrl + N</span>
  </article>
  <article>
    <span>Open...</span>
    <span>Ctrl + O</span>
  </article>
  <article>
    <span>Open recent</span>
    <i class="ph-caret-right-thin"></i>
  </article>

  <hr>

  <article>
    <span>Save</span>
    <span>Ctrl + S</span>
  </article>
  <article>
    <span>Save as...</span>
    <span>Ctrl + Shift + S</span>
  </article>

  <hr>

  <article>
    <span>Exit</span>
  </article>
</section>

<!--Move/Scale Menu-->
<section #moveMenu *ngIf="isMoveMenuOpen"
  [ngClass]="isElectron ? 'move-menu move-menu-location' : 'move-menu move-menu-location-no-titlebar'">
  <article>
    <div>
      <i class="ph-cursor-thin"></i>
      <span>Move</span>
    </div>
    <span>V</span>
  </article>

  <article>
    <div>
      <i class="ph-frame-corners-thin"></i>
      <span>Scale</span>
    </div>
    <span>K</span>
  </article>
</section>

<div id="spinner"></div>

<div class="generate-result" id="success-generate">
  <p>
    <span>✨</span>
    <span id="span-1"> Page files created successfully </span>
    <span>✨</span>
  </p>
</div>

<div class="generate-result" id="fail-generate">
  <p>
    <span id="span-1"> Something went wrong </span>
    <span>😭</span>
  </p>
</div>