// .parent {
//   display: grid;
//   grid-template: auto 1fr auto / auto 1fr auto;
//   width: 100%;
//   height: 100%;
// }

// .cdk-drag-placeholder {
//   opacity: 0;
// }

// .cdk-drag-preview {
//   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//     0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
// }

// .selected {
//   border: fuchsia solid 2px;
// } 

// li {
//   width: 7.5vmax;
//   height: 7.5vmax;
//   background: var(--english-violet);
//   list-style: none;
//   // text-align: center;
//   color: var(--light-grey);
//   border-radius: 10px;

//   font: {
//     family: karla;
//     size: 1vmax
//   };
// }

.parent {
  background-color: var(--dark-liver);
  position: relative;
  // height: 100vmax;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  height: 69.4vmax;
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.selected {
  border: fuchsia solid 2px;
}
